.container{
    background-color: grey;
    height: 680px;
}
.heading{
    background-color: brown;
    color: azure;
    height: 80px;
    padding-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
    border-style: groove;
    border-color: black;
    border-width: 2px;
}
.heading2{
    background-color:whitesmoke;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    margin-top: 8px;
    padding-top: 8px;
}
.third p{
    background-color: darkgray;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    text-align: justify;
    padding-top: 30px;
    padding: 10px  10px 10px;
}
.para{
    background-color: darkgray;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    text-align: justify;
    height: 380px;
    width: 536px;
}
.forth{
    background-color: whitesmoke;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    padding-top: 5px;
}
img{
    float: left;
}
#link1{
    color:rgb(189, 24, 79)
}
.sunnyside a{
    text-decoration: none;
    color: white;
    font-size: 70px;
}
.btn-underline{
    position: relative;
    background-color: rgb(238, 103, 103);
}
.btn-underline:hover{
    transition: 0.25s;
}
.WE{
    color: white;
    padding-top: -40px;
}
.WE img{
   padding-top: -60px;
}
.jj{
    padding-left: 15%;
    padding-right: 10%;
}
.jj h1{
    padding-top: 35%;
    padding-bottom: 5%;
    font-family: 'Fraunces', serif;
    font-size: 46px;
    font-weight: bold;
}
.jj p{
    text-align: center;
    text-align: left;
    color: #86858B;
    line-height: 1.5;
    padding-bottom: 5%;
}
.jj a{
    font-family: 'Fraunces', serif;
    color: #23303B;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 16px;
    position: relative;
}
.ee{
    padding-left: 12%;
    padding-right: 10%;
}
.ee h1{
    padding-top: 35%;
    padding-bottom: 5%;
    font-family: 'Fraunces', serif;
    font-size: 46px;
    font-weight: bold;
}
.ee p{
    margin-top: 30px;
    text-align: center;
    text-align: left;
    color: #86858B;
    line-height: 1.5;
    padding-bottom: 5%;
}
.ee a{
    font-family: 'Fraunces', serif;
    color: #23303B;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 16px;
    position: relative;
}
.centered h3{
    text-align: center;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 36px;
    margin-top: 20%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    color: #1F5449;
}
.centered p{
    margin-top: -50%;
    margin-left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.testimonial-container{
    display: grid;
}
.eeee{
    display: flex;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 50px;
}
.eeee img{
    margin-left: 40%;
   }
.eeee p{
  margin-top: 25%;
  text-align: center;
  margin-bottom: 20%;
  margin-left: 15%;
  margin-right: 15%;
}   
.eeee h5{
margin-left: 40%;
font-family: 'Fraunces', serif;
font-weight: 1000;
}
.eeee small{
margin-left: 38%;
text-align: center;
}
.client{
    font-family: 'Fraunces', serif;
    letter-spacing: .3rem;
    font-size: 22px;
    font-weight: 1500;
    margin-left: 37%;
    color:  #86858B;
    margin-bottom: 30px;
}
.pics img{
    display: flex;
    width: 100%;
}