@media (min-width:320) and (max-width:450){
.sidebar{
    margin-top: 0px;
    display: block;
    margin-left: 4px;
    background-color: #CC6733;
    color: white;
    width: 360px;
    height: 310px;
    text-align: center;
}
.sidebar img {
    padding-top: 40px;
 }
 .sidebar p{
     font-size: 25px;
     font-weight: 100;
     color: #FECB99;
     
 }

}
.sidebar{
    margin-top: 0px;
    display: block;
    margin-left: 4px;
    background-color: #CC6733;
    color: white;
    width: 360px;
    height: 310px;
    text-align: center;
    position: fixed;
}
.sidebar img {
   padding-top: 40px;
}
.sidebar p{
    font-size: 25px;
    font-weight: 100;
    color: #FECB99;
}
.sidebar h1{
     margin-top: 10px;
     font-size: 60px;
     font-weight: 380;
     letter-spacing: 2px;
     line-height: 1.1;
}
.sidenav{
    margin-top: 21%;
    display: block;
    margin-left: 4px;
    background-color: rgb(240, 240, 240);
    width: 360px;
    height: 370px;
    text-align: center;
    position: fixed;
}
.btn{
    margin-top: 20px;
    margin-left: 30px;
    width: 280px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 80;
}
.btn:hover{
    color: #CC6733;
    background-color: #fff;
    border-color: #CC6733;
}

.first{
    margin-top: 20px;
}
.image1{
    margin-left: 10%;
}
.image2{
    margin-left: -19%;
}
.image3{
    margin-left: -48%;
}
.image4{
    margin-top: -130px;
    margin-left: 10%;
}
.image5{
    margin-top: -280px;
    margin-left: -19%;
}
.image6{
    margin-top: 10px;
    margin-left: -48%;
}
.image7{
    margin-left: -20%;
}
.image8{
    margin-top: 10px;
    margin-left: 10%;
}
.image9{
    margin-top: -115px;
    margin-left: -19%;
}
.image10{
    margin-top: 10px;
    margin-left: -48%;
}
.image11{
    margin-top: -4px;
    margin-left: 10%;
}
.image12{
    margin-top: 10px;
    margin-left: -19%;
}
.image13{
    margin-top: -6px;
    margin-left: -48%;
}
.image14{
    margin-top: 10px;
    margin-left: 10%;
}
.image15{
    margin-top: -255px;
    margin-left: -19%;
}
.image16{
    margin-top: 10px;
    margin-left: -48%;
}
.gallery a.active{
    color: #CC6733;
    border-color: #CC6733;
}
.timeline a.active{
    color: #CC6733;
    border-color: #CC6733;
}
.about a.active{
    color: #CC6733;
    border-color: #CC6733;
}
.contact a.active{
    color: #CC6733;
    border-color: #CC6733;
}
.yy p{
    margin-top: 10%;
    text-align: end;
    color: #666;
}
.card{
    margin-top: 20px;
    margin-right: 20%;
}
.card h4{
    background-color: palevioletred;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    font-weight: 100;
    margin-bottom: -10px;
}
.card-title{
    color: #0966CC;
    font-weight: 400;
}
.card-text{
    margin-top: 20px;
    line-height: 1.8;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 180;
}
.card-body{
    padding-top: 50px;
    padding-left: 50px;
    width: 860px;
    height: 357px;
    background-color:  rgb(240, 240, 240);
}
.card button{
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-radius: 10px;
}
.card a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.card a:hover{
    background-color: rgb(185, 97, 126);
}
.card #h2{
    background-color: #349999;
}
.card #b1{
    background-color: rgb(185, 97, 126);
}
.card #b2{
background-color: #349999;
}
.card #b2 a:hover{
    background-color: #349999;
}
.card #h3{
    background-color: #CB6666;
}
.card #b3{
    background-color: #CB6666;
}
.card #b3 a:hover{
    background-color: #CB6666;
}
.card #h4{
    background-color: #666666;
}
.card #b4{
    background-color: #666666;
}
.card #b4 a:hover{
    background-color: #666666;
}