.container{
    background-color: grey;
    height: 680px;
}
.heading{
    background-color: brown;
    color: azure;
    height: 80px;
    padding-top: 20px;
    margin-left: 1px;
    margin-right: 1px;
    border-style: groove;
    border-color: black;
    border-width: 2px;
}
.heading2{
    background-color:whitesmoke;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    margin-top: 8px;
    padding-top: 8px;
}
.third p{
    background-color: darkgray;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    text-align: justify;
    padding-top: 30px;
    padding: 10px  10px 10px;
}
.para{
    background-color: darkgray;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    text-align: justify;
    height: 380px;
    width: 536px;
}
.forth{
    background-color: whitesmoke;
    margin-bottom: 30px;
    text-align: center;
    margin-left: 1px;
    margin-right: 1px;
    border-style: groove;
    border-color: black;
    border-width: 2px;
    padding-top: 5px;
}
img{
    float: left;
}
#link1{
    color:rgb(189, 24, 79)
}
.sunnyside a{
    text-decoration: none;
    color: white;
    font-size: 70px;
}
.WE{
    color: white;
    padding-top: -40px;
}
.WE img{
   padding-top: -60px;
}
.jj{
    padding-left: 15%;
    padding-right: 10%;
}
.jj h1{
    padding-top: 35%;
    padding-bottom: 5%;
    font-family: 'Fraunces', serif;
    font-size: 46px;
    font-weight: bold;
}
.jj p{
    text-align: center;
    text-align: left;
    color: #86858B;
    line-height: 1.5;
    padding-bottom: 5%;
}
.jj a{
    font-family: 'Fraunces', serif;
    color: #23303B;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 16px;
    position: relative;
}
.ee{
    padding-left: 15%;
    padding-right: 10%;
}
.ee h1{
    padding-top: 35%;
    padding-bottom: 5%;
    font-family: 'Fraunces', serif;
    font-size: 46px;
    font-weight: bold;
}
.ee p{
    text-align: center;
    text-align: left;
    color: #86858B;
    line-height: 1.5;
    padding-bottom: 5%;
}
.ee a{
    font-family: 'Fraunces', serif;
    color: #23303B;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 16px;
    position: relative;
}